@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #006080b6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    306deg,
    rgb(58, 125, 180) 0%,
    rgb(81, 43, 219) 50%,
    rgb(69, 209, 252) 100%
  );
  border-radius: 5px;

  /* background: rgb(131, 58, 180);
  background: linear-gradient(
    306deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#BG {
  background: rgb(41, 65, 111);
  background: linear-gradient(
    135deg,
    rgba(41, 65, 111, 1) 16%,
    rgba(39, 63, 101, 1) 32%,
    rgba(25, 39, 76, 1) 50%,
    rgba(14, 19, 61, 1) 67%,
    rgba(34, 17, 53, 1) 81%,
    rgba(39, 13, 48, 1) 94%
  );
}
.logoSide {
  background-color: #016080;
}
.headerMobile img {
  filter: invert(180);
}
.logoSide img {
  filter: invert(180);
}
.navIcons {
  position: relative;
}
.navIcons a.activeNav {
  background-color: #006080 !important;
}
.navIcons a:not(:last-child) {
  border-bottom: 1px solid aliceblue;
}

.navIcons a:hover svg {
  opacity: 0;
  visibility: hidden;
}
.navIcons span {
  position: absolute;
  top: 50%;
  left: -200%;
  transition: 0.4s;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.navIcons a:hover span {
  left: 50%;
}

.headerMobile .hamburger {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.headerMobile .hamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-10px);
}
.headerMobile .hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(10px);
}
.activeHamburger {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  transform: translateX(-50px);
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.activeHamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg) translate(35px, -35px);
}
.activeHamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: rotate(-45deg) translate(35px, 35px);
}

.sideNav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, #77b3e4 0%, #00416a 74%);
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  top: 80px;
  z-index: 99;
  /* display: none; */
}
.activeSideNav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, #77b3e4 0%, #00416a 74%);
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  top: 80px;
  z-index: 99;
  /* display: none; */
}

/* .activeSideNav img {
  filter: invert(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.activeSideNav h1,
.sideNav h1 {
  font-size: 30px;
  font-family: "Niconne", cursive;
}
#myResume {
  inline-size: fit-content;
  background-color: #040836;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
#myResume::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    306deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  z-index: -1;
  transition: 0.4s;
}
#myResume:hover::before {
  width: 100%;
}

#iAm {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    306deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 1px solid #006080;
}

/* About Page */

#abouth1 {
  inline-size: fit-content;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    306deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

#aboutContent {
  background-color: #00000036;
  z-index: 2;
}
#specContent {
  background-color: #00000036;
  z-index: 2;
}

#biography {
  background-color: #00000036;
  position: relative;
}
#biography table tr td {
  padding-top: 5px;
}
#biography > span {
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 25px;
  /* inline-size: fit-content; */
  width: max-content;
  transition: 0.4s;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    306deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border-radius: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}
#biography > span:hover {
  background: #fff;
  background-color: #fff !important;
  color: rgba(253, 29, 29, 1);
}

/* Resume Section  */

.oneExp {
  position: relative;
}
.oneExp::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(148, 163, 184);
}
.experience h1 {
  position: relative;
}
.experience h1::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  left: 0;
  bottom: -5px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    306deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.education.experience h1::after {
  width: 25%;
}
.experience .oneExp > p {
  transition: 0.4s;
}
.experience .oneExp:hover > p {
  color: rgb(248, 150, 59);
}

#reactBg {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}
/* #programs {
  flex-wrap: wrap;
} */
#programs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#programs .imgDiv {
  margin-top: 30px;
  background-color: #1e1e1e;
  padding: 15px 5px 30px 5px;
  border-radius: 10px;
  transition: 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
}
#programs .imgDiv span {
  color: #fff;
  transition: 0.2s;
  position: absolute;
  left: -3%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
#programs .imgDiv:hover span {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
}
#programs .imgDiv:hover {
  background-color: transparent;
  border-color: cyan;
}
#programs .imgDiv img {
  filter: grayscale(35%);
  transition: 0.2;
}
#programs .imgDiv:hover img {
  filter: grayscale(0);
}

/* Projects Side */

[data-testid="triangle-loading"] {
  background-color: transparent;
}

[data-testid="triangle-svg"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
